:root {
  --border-thickness: 2px;
  --border-speed: 2s;
  --header-height: 110px; 
}

/* Outer wrap of the card */
.card-wrap {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

/* Top border (L → R) */
.card-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  height: var(--border-thickness);
  background: linear-gradient(90deg, gold, rgb(234,0,255), gold);
  background-size: 200% 100%;
  animation: border-h-forward var(--border-speed) linear infinite;
  pointer-events: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 2;
}

/* Bottom border (R → L) */
.card-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--border-thickness);
  background: linear-gradient(90deg, rgb(234,0,255), gold, rgb(234,0,255));
  background-size: 200% 100%;
  animation: border-h-backward var(--border-speed) linear infinite;
  pointer-events: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
}

/* Animations for the top, bottom border gradient */
@keyframes border-h-forward {
  to { background-position: 200% 0; }
}

@keyframes border-h-backward {
  to { background-position: -200% 0; }
}

/* Inner card (the actual card) */
.card {
    display: grid;
    grid-template-rows: 85% 15%;

    /* Keep the cards square, and also fit the grid inside the "content" div*/
    border-radius: 5px;
    aspect-ratio: 1/1;
    max-height: calc(calc(100vh - var(--header-height))/4.5);
    width: 100%;
    height: 100%;

    /* Random box shadow*/
    box-shadow: 
      1px 1px 10px rgba(255, 0, 0, 0.5), 
      -1px -1px 10px rgba(0, 0, 255, 0.5); 

    /* padding + transition*/
    padding: 0;
    transition: transform 0.1s ease-in-out; 

    background: #000000;     
    /* Keep the added borders round*/
    overflow: hidden; 
}

/* Left border (top -> bottom) */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--border-thickness);
  background: linear-gradient(180deg, gold, rgb(234,0,255), gold);
  background-size: 100% 200%;
  animation: border-v-up var(--border-speed) linear infinite;
  pointer-events: none;
  z-index: 2;
}

/* Right  border (bottom → top) */
.card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--border-thickness);
  background: linear-gradient(180deg, rgb(234,0,255), gold, rgb(234,0,255));
  background-size: 100% 200%;
  animation: border-v-down var(--border-speed) linear infinite;
  pointer-events: none;
  z-index: 2;
}

/* Animation for left, right border gradient */
@keyframes border-v-down {
  to { background-position: 0 200%; }
}

@keyframes border-v-up {
  to { background-position: 0 -200%; }
}

/* Extras */
.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;              
    display: block;
}

.card span {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1010px) {
    .card span {
        font-size: .6rem;
    }
}
@media screen and (max-width: 800px) {
    .card span {
        font-size: .5rem;
    }
}
@media screen and (max-width: 650px) {
    .card span {
        font-size: .34rem;
    }
}

