:root {
  --header-height: 110px; 
}


.content {
    display: grid;
    grid-template-columns: repeat(4, minmax(20px, 1fr));
    gap: 15px;
    padding-top: var(--header-height);
    box-sizing: border-box;
    max-height: calc(100vh - var(--header-height));
}